.Aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  background: skyblue;
  border: 2px solid red;
}

.Aligner-item {
  flex: 1;
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}