@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400&display=swap');

$bodyFont: 'Open Sans', sans-serif;
$headingsFont: 'Caveat', cursive;
$font: 16px;
$white: #fff;
$orange: orangered;
$lightGray: #eee;
$gray: #444;
$padding: 70px 0;
$transition: .3s ease;
$borderRadius: 10px;
$boxShadow: 0 0 20px #999;

@mixin btn {
    padding: 15px 30px;
    background: $orange;
    margin-top: 30px;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        background: $gray;
        color: $white;
        transition: $transition;
    }
}
@mixin pozadinskeSlike {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $bodyFont;
    background: $lightGray;
    color: $gray;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $headingsFont;
    line-height: 1;
}
.underline {
    display: block;
    content: "";
    width: 200px;
    height: 2px;
    background: $orange;
    margin: 30px auto 0 auto;
}
.container {
    width: 80%;
    margin: auto;
    @media(max-width: 768px) {
        width: 90%;
    }
}
/************
header
************/
header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/header.jpg);
    height: 100vh;
    @include pozadinskeSlike;
    @media(max-width: 768px) {
        height: 70vh;
    }
    p {
        font-size: 2rem;
        font-weight: 300;
        @media(max-width: 768px) {
            font-size: 1.6rem;
        }
        &::after {
            @extend .underline;
        }
    }
    h1 {
        font-size: 7rem;
        @media(max-width: 768px) {
            font-size: 4rem;
        }
    }
}
/************
uvod
************/
.uvod {
    display: flex;
    justify-content: space-between;
    padding: $padding;
    text-align: center;
    flex-wrap: wrap;
    article {
        flex: 0 0 48%;
        @media(max-width: 768px) {
            flex: 0 0 100%;
        }
        img {
            width: 100%;
        }
        .text {
            background: $white;
            padding: 40px;
            position: relative;
            top: -15px;
            h4 {
                margin: 20px 0;
                font-size: 1.2rem;
                font-family: $bodyFont;
                font-weight: 300;
                &::after {
                    @extend .underline;
                    width: 70px;
                }
            }
            h2 {
                margin: 20px 0;
                font-size: 2.5rem;
            }
            button {
                @include btn;
            }
        }
    }
}
/************
cta
************/
.cta {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/cta.jpg);
    height: 60vh;
    @include pozadinskeSlike;
    h4 {
        font-size: 1.7rem;
        font-weight: 300;
        font-family: $bodyFont;
        &::after {
            @extend .underline;
        }
        @media(max-width: 768px) {
            font-size: 1.2rem;
        }
    }
    h2 {
        font-size: 6rem;
        @media(max-width: 768px) {
            font-size: 3rem;
            margin-top: 20px;
        }
    }
}
/************
galerija
************/
.galerija {
    padding: $padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
        flex: 0 0 48%;
        @media(max-width: 768px) {
            flex: 0 0 100%;
        }
        margin-bottom: 60px;
        img {
            width: 100%;
            border: 15px solid $white;
            box-shadow: $boxShadow;
            border-radius: $borderRadius;
            &:hover {
                transform: scale(1.1);
                transition-duration: .7s;
                border: 15px solid $orange;
            }
        }
    }
}
/************
footer
************/
footer {
    padding: 40px 0;
    text-align: center;
    background: $gray;
    a {
        color: $orange;
        margin: 0 20px;
        i {
            font-size: 2rem;
        }
        &:hover {
            color: $lightGray;
            transition: $transition;
        }
    }
    p {
        color: $lightGray;
        margin-top: 30px;
        font-size: 1rem;
    }
}

