form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel form:first-child {
    text-align: center;

}
.panel form:last-child {

    text-align: center;
}