* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
    list-style-type: none;
}
ul li a {
    color: #f15025;
  
}
ul a {
    color: teal;
      text-decoration: none;
      letter-spacing: 2px;
      background: #222;
      padding: 5px;
      display: block;

}