<<<<<<< HEAD
.first {
    letter-spacing: 5px;
    text-align: left;
}
.second {
    line-height: 200%;
    text-align: right;
}
.treci {
    text-align: center;
=======
.prvi {
    letter-spacing: 5px;
     text-align: left;
    text-indent: 30px;
}
.drugi {
  text-align: right;
    line-height: 200%;
}
.treci {
    text-align: center;
}


li {
    list-style: none;  
}

li a {
    color: red;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(48, 25, 8, 0.7);
}

a:visited {
    color: black;
}

a:hover {
    color: green;
}

a:active {
    color: blue;
>>>>>>> 9329041d88bb4d0ba5f45ab7f7a05608458f8bf0
}