* {
     margin: 0px;
    padding: 0px;
}
.strana {
   font-family: 'Roboto', sans-serif;
   background-color: navy;
 
  
}
.naslov {
    width: 100%;
    background-color:navy;
    border-top: 8px solid #88c;
    border-bottom: 8px solid #88c;
    text-align: right;
    margin: 0px;
}
.glavni {
    text-align: right;
    color: #ccf;
    margin: 4px 10px;
    font-variant: small-caps;
    font-size: 28pt;
}
.b {
    margin-top: 0px;
     display: block;
}

p {
   width: 80%; 
    font-size: 16pt;
    margin-bottom: 16px;
    color: navy;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.d, .g, .i, .ispod{
  border-left: 10px solid lightblue;
  height: auto;
  padding-left: 10px;
}
.first {
    margin-top: 16px;
}

.f {
    text-align: left;
    width: 30%;
   float: right;
    font-size: 80%;
     padding:20.8pt;
   margin-right: 5px;
   color: red;
  background-color: lightyellow;
   border:2px solid red;
   border-bottom: 4px solid red;
   border-right: 4px solid red;
}
aside {
    display: inline-block;
}
h2 {
    width: 90%;
    border-bottom: 5px dashed #88c;
     margin-left: auto;
    margin-right: auto;
     color: navy;
}
.ispod {
    margin-top: 16px;
}
.tabela {
    margin: auto;
    margin-top: 28pt;
    margin-bottom: 28pt;
    border:4px solid black;
    background-color: #fde;
     border-collapse: collapse;
     font-size: 16pt;
}
.red1 th {
    padding-top: 0px;
}

.red1 td, .red2 td, .red3 td, .red4 td
{
    border-bottom: 2px solid black;  
    border-left: 1px solid #a88;
    border-right: 1px solid #a88;
    color: blue;
}
.red1 th, .red2 th, .red3 th, .red4 th  {
    color: blue;
    border-bottom: 2px solid black;
    border-left: 1px solid #a88;
}
td, th{
    padding: 3px 9px;
}
.red1 th {
    background-color: rgb(84, 87, 84);
    color: honeydew;
}

.last {
    width: 400px;
    border: 15px solid green;
    margin: auto;
    padding: 10px;
    background-color: lightgreen;

}
.paragraf {
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 16px;
    border: 15px solid green;
    padding: 10px;
    background-color: lightgreen;
} 
li {
    list-style: none;  
}
li a {
    color: red;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(48, 25, 8, 0.7);
}
a:visited {
    color: black;
}
a:hover {
    color: green;
}
a:active {
    color: blue;
}
.link {
    width: 70%;
    margin: auto;
    font-family: 'New Tegomin', serif;
    font-style: italic;
}
.link span {
    color: red;
    font-weight: bold;
}
.link p{
    color:blue;
}