body {
  background: #eee;
}
.wrapper {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 0;
}
.wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.services::after p {
 content: "Hello";
 display: block;
 clear: both;
}
.services {
  max-height: 150px;
  overflow: hidden;
}
.service h2,
.service p {
  color: #999;
  margin: 10px 0;
  text-align: center;
}
.service {
  float: left;
  background: #eee;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  height: 140px;
  position: relative;
}
.content {
  padding: 18px;
  background: #ccc;
  clear:left;
  margin: 50px;
}
.service:nth-child(1){
  top:5px
}
section, aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background: #f2f2f2;
}
.column::after{
  display: block;
  content: "";
  clear:both;
}
.content p {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
  text-align: justify;
}
#banner {
  max-height: 300px;
  overflow: hidden;
  margin: 1%;
  position: relative;
  z-index: 2;
}
#banner h2 {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  margin: 0px;
  color: #fff;
}
nav {
  background: rgb(38, 47, 49);
  padding: 5px;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
nav ul::after{
  content:"";
  display: block;
  clear: both;
}
nav li {
  list-style-type: none;
  margin: 0px 10px;
  color: rgb(240, 231, 231);
  float: right;
}