body {
  background: skyblue;
}
table {
  width: 800px;
  margin: auto;
  height: 100vh;
  text-align: center;
  table-layout: fixed;
}
table,
tr,
th,
td {
  padding: 20px;
  color: gold;
  border: 1px solid #080808;
  border-collapse: collapse;
  font-size: 18px;
  height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
td:hover {
  background: goldenrod;
}
td:active {
  font-weight: bold;
  background: orchid;
  color:darkblue;
}
